<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>6</ApplicationRevision>
    <ApplicationVersion>1.1.20.*</ApplicationVersion>
    <BootstrapperEnabled>False</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <ManifestCertificateThumbprint>64703AD40C5724430881BB3D66204B5344E2A28B</ManifestCertificateThumbprint>
    <ManifestKeyFile>Keys\QA40xPlot_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>False</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>C:\build\QA40xPlot\Release\net9.0-windows10.0.17763.0\win-x64\app.publish\</PublishDir>
    <PublishUrl>C:\build\QA40xPlot\Deploy\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net9.0-windows10.0.17763.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <InstallUrl>https://mzachmann.github.io/QAPlot/</InstallUrl>
    <ProductName>QA40xPlot</ProductName>
    <PublisherName>Audua LLC</PublisherName>
    <SuiteName>AudioSuite</SuiteName>
    <SupportUrl>https://github.com/MZachmann/QA40xPlot</SupportUrl>
    <TargetCulture>en-US</TargetCulture>
    <UseApplicationTrust>True</UseApplicationTrust>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <History>True|2025-06-08T10:57:11.8905278Z||;True|2025-06-07T09:47:25.9189017-04:00||;True|2025-06-07T09:33:11.8514576-04:00||;True|2025-06-07T07:47:22.2558642-04:00||;True|2025-06-04T15:15:33.3309508-04:00||;True|2025-06-04T15:14:56.4928756-04:00||;True|2025-06-04T10:35:43.4954971-04:00||;True|2025-06-04T10:35:16.0678671-04:00||;True|2025-06-04T08:52:07.7502349-04:00||;True|2025-06-03T17:07:36.0944754-04:00||;True|2025-06-03T17:07:07.3433629-04:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="Help\ChangeLog.txt">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Help\HelpSummary.html">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.9.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 9.0.5 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>